# BANK MARKETING

In this project, I will look at the <i>Bank Marketing Data Set</i> from the UCI repository.

<h2> 1. Data Set </h2>

First, I will import libraries we will need. Then, I will import the data set using the URL for the relevant UCI archive. If this doesn't work, consider importing the data set locally from your computer.

In [1]:
import pandas as pd
import requests
import zipfile
from io import BytesIO

In [2]:
#Get the zipfile
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00222/bank-additional.zip"
results = requests.get(url)
z = zipfile.ZipFile(BytesIO(results.content))
data = z.open("bank-additional/bank-additional-full.csv")

#Now, we can read in the data
df = pd.read_csv(data, sep = ";")
z.close()

In [3]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [4]:
print(df.shape)
df.dtypes

(41188, 21)

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object

In [5]:
#Let's save this data set as a csv file
df.to_csv('data/bank_marketing.csv', index=False)